build/
dist/
out/
.vs/
release/
backup/
*.zip
*.log
CMakeCache.txt
CMakeFiles/
.vscode/
*.old
tools/.embedded/
diagnostics/
pwsh/
tools/burnermax-dev/
tools/cdrtools-retroburner-dev/
tools/cdrtools-schily-source-baseline/
tools/firmware-dev/
tools/imgburn-blackbox/
tools/retrobeam-dev/
*.obj

external/schilytools/**/OBJ/
